<!--{include file='inc/header.html'}-->
<header class="demos-header">
	<h1 class="demos-title"></h1>
</header>

<div class="weui-grids">
	<a href="" class="weui-grid js_grid">
		<div class="weui-grid__icon">
			<img src="./static/images/menu/setup.png" alt="">
		</div>
		<p class="weui-grid__label">系统管理</p>
	</a> <a href="" class="weui-grid js_grid">
		<div class="weui-grid__icon">
			<img src="./static/images/menu/store.png" alt="">
		</div>
		<p class="weui-grid__label">店铺管理</p>
	</a> <a href="" class="weui-grid js_grid">
		<div class="weui-grid__icon">
			<img src="./static/images/menu/user.png" alt="">
		</div>
		<p class="weui-grid__label">会员中心</p>
	</a> <a href="" class="weui-grid js_grid">
		<div class="weui-grid__icon">
			<img src="./static/images/menu/course.png" alt="">
		</div>
		<p class="weui-grid__label">课程管理</p>
	</a> <a href="" class="weui-grid js_grid">
		<div class="weui-grid__icon">
			<img src="./static/images/menu/activity.png" alt="">
		</div>
		<p class="weui-grid__label">活动管理</p>
	</a> <a href="" class="weui-grid js_grid">
		<div class="weui-grid__icon">
			<img src="./static/images/menu/order.png" alt="">
		</div>
		<p class="weui-grid__label">订单管理</p>
	</a> <a href="" class="weui-grid js_grid">
		<div class="weui-grid__icon">
			<img src="./static/images/menu/money.png" alt="">
		</div>
		<p class="weui-grid__label">资金记录</p>
	</a> <a href="" class="weui-grid js_grid">
		<div class="weui-grid__icon">
			<img src="./static/images/menu/report.png" alt="">
		</div>
		<p class="weui-grid__label">报表中心</p>
	</a> <a href="" class="weui-grid js_grid">
		<div class="weui-grid__icon">
			<img src="./static/images/menu/pwd.png" alt="">
		</div>
		<p class="weui-grid__label">修改密码</p>
	</a>
</div>
<!--{include file='inc/footer.html'}-->