<!--{include file='inc/header.html'}-->
<header class="demos-header">
	<h1 class="demos-title">
		<img src="<!--{base_url()}-->static/images/logo.png"> <span>后台管理系统</span> <img
			id="masterMenu" src="<!--{base_url()}-->static/images/menu.png">
	</h1>
</header>
<!--{include file='inc/menu.html'}-->
<div id="menu">
	<!--{foreach $menu as $val}-->
	<div class="weui-cells">
		<a class="weui-cell weui-cell_access" href="javascript:;">
			<div class="weui-cell__hd">
				<img src="<!--{base_url()}-->static/images/menu/<!--{$val['icon']}-->.png" alt=""
					style="width: 20px; margin-right: 5px; display: block">
			</div>
			<div class="weui-cell__bd">
				<p>
					<!--{$val['menu_name']}-->
				</p>
			</div>
			<div class="weui-cell__ft"></div>
		</a>
	</div>

	<div class="weui-grids">
		<!--{if isset($val['child'])}-->
		<!--{foreach $val['child'] as $value}-->
		<a
			href="<!--{base_url()}--><!--{$value['ctrl']}-->/<!--{$value['act']}-->"
			class="weui-grid js_grid">
			<div class="weui-grid__icon">
				<img src="<!--{base_url()}-->static/images/menu/<!--{$value['icon']}-->.png" alt="">
			</div>
			<p class="weui-grid__label">
				<!--{$value['menu_name']}-->
			</p>
		</a>
		<!--{/foreach}-->
		<!--{/if}-->
	</div>
	<!--{/foreach}-->
</div>
<!--{include file='inc/footer.html'}-->