<!DOCTYPE html>
<html>
<head>
<title>FUSION FITNESS</title>
</head>
<body style="margin:0;padding:0;">
<div class="container" id="container">
	<div id="red-card" style="background:url('<!--{base_url()}-->static/image/exe-red-back.png')">
		<div style="margin: 0 auto;width: 695px;padding-top: 40px;padding-bottom: 60px;">
			<img alt="" src="<!--{base_url()}-->static/image/exe-red.png">
		</div>
	</div>
	<div style="display:none;">
		<div style="border-bottom: 1px solid #999;">
			<a href="<!--{base_url()}-->exercise/reg/1"><img alt="" src="<!--{base_url()}-->static/image/red-24-co.png"></a>
		</div>
		<div>
			<a href="<!--{base_url()}-->exercise/reg/2"><img alt="" src="<!--{base_url()}-->static/image/red-12-co.png"></a>
		</div>
	</div>
	
	<div id="black-card" style="background:url('<!--{base_url()}-->static/image/exe-black-back.png')">
		<div style="margin: 0 auto;width: 695px;padding-top: 50px;padding-bottom: 50px;">
			<img alt="" src="<!--{base_url()}-->static/image/exe-black.png">
		</div>
	</div>
	<div id="black-pack" style="display:none;border-bottom: 1px solid #999;">
		<a href="<!--{base_url()}-->exercise/reg/3"><img alt="" src="<!--{base_url()}-->static/image/fusion-black.png"></a>
	</div>
		
	<div style="border-bottom: 1px solid #999;">
		<a href="<!--{base_url()}-->exercise/reg/4"><img alt="" src="<!--{base_url()}-->static/image/exe-80-co.png"></a>
	</div>
	<div>
		<a href="<!--{base_url()}-->exercise/reg/5"><img alt="" src="<!--{base_url()}-->static/image/exe-35-co.png"></a>
	</div>
</div>		
	
	
<script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript">
	$('#red-card').click(function(){
		$(this).next('div').slideToggle();
	});
	$('#black-card').click(function(){
		$(this).next('div').slideToggle();
	});
</script>
</body>
</html>
