<!--{include file='inc/header.html'}-->
<div class="container" id="container">
	<div>
		<img style="height: 49vw;width:100%;" src="<!--{$img1}-->">
	</div>
	<!--课程开始-->
	<div class="content">
		<!--课程-->
		<div class="panel">
			<div class="panel_jg" style="width:100%;">
				<div class="course_price" style="background:#f2f2f2 url('<!--{base_url()}-->static/image/storeTag.png');background-size: 100%;">
					<div style="width: 94%;margin: 0 auto;color: #fff;">健身课程</div>
				</div>
				<div class="course_jj" style="margin: 0 auto;width: 94%">
					<!--{if ! empty($course_list)}-->
					<table style="width:100%;">
					<!--{foreach $course_list as $key=>$val}-->
					<!--{if $key%3==0}--><tr><!--{/if}-->
						<td><!--{$val}--></td>
					<!--{if $key%3==2}--></tr><!--{/if}-->
					<!--{/foreach}-->
					<!--{if $key%3!=2}--></tr><!--{/if}-->
					</table>
					<!--{/if}-->
				</div>
			</div>
		</div>
		<!--简介-->
		<div class="panel">
			<div class="panel_jg">
				<div class="course_price" style="font-size:3.97vw;">
					门店简介
				</div>
				<div class="course_jj">
					<!--{$content}-->
				</div>
			</div>
		</div>
		<!--地址-->
		<div class="panel">
			<div class="panel_jg">
				<div class="course_price" style="font-size:3.97vw;">
					门店地址
				</div>
				<p class="course_addr">
					<!--{$addr}-->
					<a href="<!--{$addr_link}-->">
						查看地图<img style="float:right;height: 3vw; margin:0 1vw;" src="<!--{base_url()}-->static/image/location.png" />
					</a>
				</p>
			</div>
		</div>
		<!--注意事项-->
		<div class="panel">
			<div class="panel_jg">
				<div class="course_price" style="font-size:3.97vw;">
					注意事项
				</div>
				<div class="course_jj">
					<!--{$notice}-->
				</div>
			</div>
		</div>
		<div class="weui-btn_yuyue">
			<a href="<!--{base_url()}-->course/index/2/<!--{$store_id}-->">预约私教</a>
		</div>
	</div>
	<!--课程结束-->
</div>
<!--{include file='inc/tabbar.html'}-->
<!--{include file='inc/footer.html'}-->