<!--{include file='inc/header.html'}-->

<!-- BEGIN Content -->
<div id="main-content">
    <!-- BEGIN Main Content -->
    <div class="row-fluid">
        <div class="span12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="icon-table"></i> 会员级别管理</h3>
					<div class="btn-toolbar pull-right clearfix">
                        <div class="btn-group">
                            <a class="btn btn-circle show-tooltip" title="增加会员级别"
                               href="<!--{base_url()}-->user/grade/detail/"><i class="icon-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="box-content">
                	<form name="form" id="pform" method="post" action="<!--{base_url()}-->user/grade">
	                </form> 
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <table class="table table-advance" id="table1">
                        <thead>
                        <tr>
                            <th>名称</th>                            
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        <!--{if !empty($list['data'])}-->
                        <!--{foreach $list['data'] as  $value}-->
                        <tr>
                            <td><!--{$value['grade_name']}--></td>
                            <td><!--{$value['disabled']=='0'?'启用':'禁用'}--></td>
                            <td>
                            	<div class="btn-group">
                                    <a class="btn btn-small show-tooltip" title="view"
                                       href="<!--{base_url()}-->user/grade/detail/<!--{$value['grade_id']}-->"><i
                                            class="icon-edit"></i></a>
                                </div>
                            </td>
                        </tr>
                        <!--{/foreach}-->
                        <!--{/if}-->
                        </tbody>
                    </table>
                    <!--{if isset($pages)}-->
                    <div class="page"><!--{$pages}--></div>
                    <!--{/if}-->
                </div>
            </div>
        </div>
    </div>
    <!-- END Main Content -->

    <!--{include file='inc/copyright.html'}-->

    <a id="btn-scrollup" class="btn btn-circle btn-large" href="#"><i class="icon-chevron-up"></i></a>
</div>
<!-- END Content -->
<!--{include file='inc/footer.html'}-->