<!--{include file='inc/header.html'}-->
<div class="container" id="container">
	<div class="b-card">
		<div class="card">
			<div class="headimg">
				<img src="<!--{$headimgurl}-->" />
			</div>
			<div class="cardno">
				<div>NO：<!--{$no}--></div>
				<div>余额：<!--{$balance}--></div>
			</div>
			<div class="nickname">
				<div><!--{$nickname}--></div>
			</div>
			<div class="open_card">
				<a href="<!--{base_url()}-->card/open_member">
					<!--{$is_open == '1' ? '充值' : '未开通'}-->
				</a>
			</div>
		</div>
	</div>	
	
	<div class="ncon">
		<div class="weui-cells">
			<!--{if $has_file}-->
            <a class="weui-cell weui-cell_access" href="<!--{base_url()}-->card/record">
                <div class="weui-cell__bd">
                    <p>会员评估档案表</p>
                </div>
                <div class="weui-cell__ft">
                </div>
            </a>
            <!--{/if}-->
			<a class="weui-cell weui-cell_access" href="<!--{base_url()}-->card/user_info">
                <div class="weui-cell__bd">
                    <p>会员信息</p>
                </div>
                <div class="weui-cell__ft">
                </div>
            </a>
			<a class="weui-cell weui-cell_access" href="<!--{base_url()}-->card/package">
                <div class="weui-cell__bd">
                    <p>套餐详情</p>
                </div>
                <div class="weui-cell__ft">
                </div>
            </a>
            <a class="weui-cell weui-cell_access" href="<!--{base_url()}-->card/funds">
                <div class="weui-cell__bd">
                    <p>资金明细</p>
                </div>
                <div class="weui-cell__ft">
                </div>
            </a>
        </div>
	</div>	
</div>

<script type="text/javascript">
document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
    WeixinJSBridge.call('hideOptionMenu');
});
</script>
<!--{include file='inc/tabbar.html'}-->
<!--{include file='inc/footer.html'}-->
