<!--{include file='inc/header.html'}-->

<!-- BEGIN Content -->
<div id="main-content">
    <!-- BEGIN Main Content -->
    <div class="row-fluid">
        <div class="span12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="icon-table"></i> 训练表</h3>

                </div>
                <div class="box-content">
                     <form name="form" id="pform" method="post" action="<!--{base_url()}-->order/train/index/">
				         <!--{if $role_id == 1}-->
				         <span>分店：</span>
				          <select name="store_id" class="form-control" style="width:150px;">
				          	  <option></option>
							  <!--{if !empty($store)}-->						          
                       		  <!--{foreach $store as  $key=>$value}-->
                       		  <option value="<!--{$key}-->" <!--{if $key == $store_id}-->selected<!--{/if}-->><!--{$value}--></option>
                       		  <!--{/foreach}-->
                       		  <!--{/if}-->	
						</select>
						<!--{/if}-->
						 <!--{if $role_id <= 2}-->
						<span>教练：</span>
						<input type="text" name="coach_name" value="<!--{$coach_name}-->"  style="width:100px;" />
						<!--{/if}-->
						<span>真实姓名：</span>
						<input type="text" name="realname" value="<!--{$realname}-->"  style="width:100px;" />
						<span>预约日期：</span>
						<input type="text" name="date"  style="width:100px;" value="<!--{$date}-->" class="Wdate search_time" onClick="WdatePicker({readOnly:true,dateFmt:'yyyy-MM-dd'})" />								
                        &nbsp;&nbsp;<input type="submit" class="btn btn-info" id="button" value="搜索" >
	                </form>                     
                    <div class="clearfix"></div>
                    <table class="table table-advance" id="table1">
                        <thead>
                        <tr>
                        	<th>预约日期</th>
                        	<th>教练</th>
                            <th>昵称</th>
                            <th>真实姓名</th>                            
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        <!--{if !empty($list['data'])}-->
                        <!--{foreach $list['data'] as  $value}-->
                        <tr>
                        	<td><!--{$value['date']}--></td>
                            <td><!--{$value['coach_name']}--></td>
                            <td><!--{$value['nickname']}--></td>
                            <td><!--{$value['realname']}--></td>
                        	<td>
                            	<div class="btn-group">
                                    <a class="btn btn-small show-tooltip" title="train"
                                       href="<!--{base_url()}-->order/train/detail/<!--{$value['order_id']}-->">训练表</a>
                                </div>
                            </td>
                        </tr>
                        <!--{/foreach}-->
                        <!--{/if}-->
                        </tbody>
                    </table>
                    <!--{if isset($pages)}-->
                    <div class="page"><!--{$pages}--></div>
                    <!--{/if}-->
                </div>
            </div>
        </div>
    </div>
    <!-- END Main Content -->

    <!--{include file='inc/copyright.html'}-->

    <a id="btn-scrollup" class="btn btn-circle btn-large" href="#"><i class="icon-chevron-up"></i></a>
</div>
<!-- END Content -->
<!--{include file='inc/footer.html'}-->