<!--{include file='inc/header.html'}-->

<!-- BEGIN Content -->
<div id="main-content">
    <!-- BEGIN Main Content -->
    <div class="row-fluid">
        <div class="span12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="icon-table"></i> 菜单列表</h3>

                    <div class="btn-toolbar pull-right clearfix">
                        <div class="btn-group">
                            <a class="btn btn-circle show-tooltip" title="增加菜单"
                               href="<!--{base_url()}-->sys/menu/add"><i class="icon-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="box-content">
                	<form name="form" id="pform" method="post" action="<!--{base_url()}-->sys/menu/index/">
                	</form>
                    <div class="clearfix"></div>
                    <table class="table table-advance" id="table1">
                        <thead>
                        <tr>
                            <th>菜单名</th>
                            <th>parent_id</th>
                            <th>model</th>
                            <th>ctrl</th>
                            <th>状态</th>
                            <th style="width:100px">操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        <!--{if !empty($list['data'])}-->
                        <!--{foreach $list['data'] as $value}-->
                        <tr>
                            <td><!--{$value['menu_name']}--></td>
                            <td><!--{$value['parent_id']}--></td>
                            <td><!--{$value['model']}--></td>    
                            <td><!--{$value['ctrl']}--></td>
                            <th><!--{if $value['disabled']=='false'}-->启用<!--{else}-->禁用<!--{/if}--></th>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-small show-tooltip" title="Edit"
                                       href="<!--{base_url()}-->sys/menu/add/<!--{$value['menu_id']}-->"><i
                                            class="icon-edit"></i></a>
                                </div>
                            </td>
                        </tr>
                        <!--{/foreach}-->
                        <!--{/if}-->
                        </tbody>
                    </table>
                    <!--{if isset($pages)}-->
                    <div class="page"><!--{$pages}--></div>
                    <!--{/if}-->
                </div>
            </div>
        </div>
    </div>
    <!-- END Main Content -->

    <!--{include file='inc/copyright.html'}-->

    <a id="btn-scrollup" class="btn btn-circle btn-large" href="#"><i class="icon-chevron-up"></i></a>
</div>
<!-- END Content -->
<!--{include file='inc/footer.html'}-->