<!--{include file='inc/header.html'}-->
<!-- BEGIN Content -->
<div id="main-content">
    <!-- BEGIN Main Content -->
    <div class="row-fluid">
        <div class="span12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="icon-comment"></i> 查看订单详情</h3>

                    <div class="box-tool">
                    	<a href="<!--{base_url()}-->order/order" class="btn btn-info">返回上一级</a>
                    </div>
                </div>
                <div class="box-content">
                        <table class="table table-advance">
                        	<tr>
                                <td width="100" align="right">订单号：</td>
                                <td><!--{isset($result) ? $result['order_sn'] : ''}--></td>
                            </tr>
                            <tr>
                                <td width="100" align="right">客户：</td>
                                <td><!--{isset($result) ? $result['nickname'] : ''}--></td>
                            </tr>
                            <tr>
                                <td width="100" align="right">门店：</td>
                                <td><!--{isset($result) ? $result['store_name'] : ''}--></td>
                            </tr>
                            <tr>
                                <td width="100" align="right">课程：</td>
                                <td><!--{isset($result) ? $result['course_name'] : ''}--></td>
                            </tr>
                            <tr>
                                <td width="100" align="right">教练：</td>
                                <td><!--{isset($result) ? $result['coach_name'] : ''}--></td>
                            </tr>
                            <tr>
                                <td width="100" align="right">时间：</td>
                                <td>
                                	<!--{if isset($result)}-->
                                	<!--{$result['date']}--> <!--{$result['time']}-->
                                	<!--{/if}-->
                                </td>
                            </tr>
                            <tr>
                                <td width="100" align="right">人数：</td>
                                <td><!--{isset($result) ? $result['num'] : ''}--></td>
                            </tr>
                            <tr>
                                <td width="100" align="right">总价：</td>
                                <td><!--{isset($result) ? $result['total'] : ''}--></td>
                            </tr>
                            <tr>
                                <td width="100" align="right">折后价：</td>
                                <td><!--{isset($result) ? $result['discount'] : ''}--></td>
                            </tr>
                            <tr>
                                <td width="100" align="right">代金卷：</td>
                                <td><!--{isset($result) ? $result['coupon_id'] : ''}--></td>
                            </tr>
                            <tr>
                                <td width="100" align="right">支付金额：</td>
                                <td><!--{isset($result) ? $result['payment'] : ''}--></td>
                            </tr>
                            <tr>
                                <td width="100" align="right">联系号码：</td>
                                <td><!--{isset($result) ? $result['tel'] : ''}--></td>
                            </tr>
                            <tr>
                                <td width="100" align="right">状态：</td>
                                <td><!--{isset($status[$result['status']])?$status[$result['status']]:'未知状态'}--></td>
                            </tr>
                            <!--{if ! empty($result['operaName'])}-->
                            <tr>
                            	<td width="100" align="right">下单人：</td>
                                <td><!--{isset($result) ? $result['operaName'] : ''}--></td>
                            </tr>
                            <!--{/if}-->
                        </table>
                </div>
            </div>
        </div>
    </div>

    <!-- END Main Content -->

    <!--{include file='inc/copyright.html'}-->

    <a id="btn-scrollup" class="btn btn-circle btn-large" href="#"><i class="icon-chevron-up"></i></a>
</div>
<!-- END Content -->

<!--{include file='inc/footer.html'}-->